   
       <!-- ================ The main view =================== -->
    
       <div class="entity-management">
          <div class="element-block">

            <div class="elements-header">
              <!-- Title -->
              <div class="elements-title" style="display: none">              
              </div>             
              <!-- Description -->
              <div class="elements-description">
              </div>              
            </div>

            <!-- Entities list -->

            <div class="elements-container">
              <div class="advanced-search-container all-space bottom-margin top-margin all-border-dashed color-2 box-shadow" style="display:none">
                <div class="container_12">
                  <div class="grid_12">                    
                     <div class="advanced-search">
                     </div>
                  </div>
                </div>
              </div> 
              <div class="top-navigation-bar navigation-bar" style="display:none">
                <div class="container_12">
                  <div class="grid_4">
                    <!-- Title -->
                    <div class="elements-title">              
                    </div>  
                  </div>
                  <div class="grid_3">
                    <span>&nbsp;</span>
                    <div class="elements-search" style="display:none">
                      <form>
                        <div class="form-row">
                          <input type="text" name="search" class="search-entity-input" maxlength="60" size="15"/>
                          <input type="button" class="form-button search-entity-button" value="<%=t.entitymanagement.search%>"/>
                        </div>
                      </form>
                    </div>
                  </div>  
                  <div class="grid_5">
                    <div class="navigation-bar-crud-buttons">
                       <button class="form-button reload-entities-button action-button entity-management-button" title="reload"><%= t.entitymanagement.reload %></button>
                       <button class="form-button new-entity-button action-button entity-management-button" title="new"><%= t.entitymanagement.new %></button>
                    </div>                    
                    <div class="navigation-bar-nav-buttons">
                       <button class="form-button previous-page-button navigation-button entity-management-button" title="previous page">&lt;</button>
                       <span class="elements-summary smaller_text left-margin"></span>
                       <button class="form-button next-page-button navigation-button entity-management-button" title="next page">&gt;</button>
                    </div>
                  </div>  
                </div>   
              </div> 
              <% if defined?(elements_actions) and not elements_actions.empty? %>
                <div class="elements_actions" style="display:none">
                   <%= elements_actions %>
                </div>    
              <% end %>               
              <!-- Contains the element list -->
              <div class="elements-list">
              </div>
              <div class="bottom-navigation-bar navigation-bar" style="display: none">
              </div>   
            </div>  
            
            <!-- Entity View-->
            
            <div class="element-container" style="display:none">        
              <div class="top-navigation-bar navigation-bar" style="display:none">
                <button class="form-button page-navigation navigation-button entity-management-button"  title="list"><%= t.entitymanagement.list %></button>
              </div>
              <div id="element-detail" class="element-detail">
              </div>
              <div class="bottom-navigation-bar navigation-bar" style="display: none">
                <button class="form-button new-entity-button action-button entity-management-button" title="new entity"><%= t.entitymanagement.new %></button>
                <button class="form-button edit-entity-button action-button entity-management-button" title="edit"><%= t.entitymanagement.edit %></button>    
                <button class="form-button delete-entity-button action-button entity-management-button" title="delete"><%= t.entitymanagement.delete %></button>       
                <div class="navigation-bar-nav-buttons">
                  <span class="elements-summary"></span>
                  <button class="form-button previous-element-button navigation-button entity-management-button" title="previous entity">&lt;</button>
                  <button class="form-button next-element-button navigation-button entity-management-button" title="next entity">&gt;</button>
                </div>
              </div>            
            </div>

            <!-- Entity Form -->
            
            <div class="element-form-container" style="display:none">
              <div class="top-navigation-bar navigation-bar">
                <div class="container_12">
                  <div class="grid_4">
                    <!-- Title -->
                    <div class="elements-title">              
                    </div>  
                  </div>
                  <div class="grid_8">
                    <div class="navigation-bar-crud-buttons">
                     <button class="form-button page-navigation navigation-button entity-management-button" title="list"><%= t.entitymanagement.list %></button>            
                     <button class="form-button delete-entity-button action-button entity-management-button" title="delete"><%= t.entitymanagement.delete %></button>   
                    </div>
                    <div class="navigation-bar-nav-buttons">
                       <button class="form-button previous-element-button navigation-button entity-management-button" title="previous entity">&lt;</button>
                       <span class="elements-summary smaller_text left-margin"></span>
                       <button class="form-button next-element-button navigation-button entity-management-button" title="next entity">&gt;</button>
                    </div>                
                  </div>
                </div>
              </div>      
              <% if defined?(element_action) and not element_action.empty? %>
                <div class="element_actions" style="display:none">
                   <%= element_action %>
                </div>
              <% end %>                 
              <div id="element-form-detail" class="element-form-detail">
              </div>
              <div id="element-form-detail-message">
              </div>
              <div id="element-form-bottom">
                <div class="back-bar" style="display:none">
                   <a id="back" class="back"><%=t.entitymanagement.back%></a>
                </div>
              </div>                            
            </div>
            
            <!-- The status bar -->
            
            <div class="entity-status-bar">
            </div>  
            
          </div>
        </div>

<!-- Renders the no data message -->        
<script type="text/tmpl" id="elements_no_data">
  <p class="no-data-message"><%= t.entitymanagement.no_data %></p>
</script>        

